body {
  font-family: 'Courier New', monospace;
  padding: 20px;
  background-image: url('gambar/thumb-1920-1063355.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #4a148c;
  background-position: bottom center;
}

h2 {
  color: #aeea00; 
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px #555;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px #888;
}

a {
  display: block;
  margin-top: 20px;
  color: #4a148c;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  text-shadow: 1px 1px #555;
  border: 2px solid #aeea00;
  padding: 8px 15px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: #673ab7; 
  border-color: #c6ff00;
  background-color: rgba(255, 255, 255, 0.7);
}