body {
  font-family: 'Courier New', monospace; /* Font monospasi untuk tema pixel */
  padding: 20px;
  background-image: url('gambar/thumb-1920-1357336.jpg'); /* Ganti dengan URL gambar Anda */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f5f5dc; /* Warna teks krem pucat seperti cahaya matahari */
}

h2 {
  color: #f9f8f5; /* Kuning cerah seperti sorotan cahaya */
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px #555;
}

form {
  background-color: rgba(0, 0, 0, 0.6); /* Hitam transparan agar latar belakang tetap terlihat */
  padding: 30px;
  border: 2px solid #d2b48c; /* Border cokelat muda seperti batang pohon */
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 4px 4px #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 1px 1px #555;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Putih transparan */
  color: #f5f5dc;
  border: 1px solid #d2b48c;
  border-radius: 3px;
}

p {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 1px 1px #555;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

label[for="laki"],
label[for="perempuan"] {
  font-weight: normal;
}

input[type="submit"] {
  background-color: #ffc107; /* Kuning keemasan */
  color: #333; /* Teks hitam */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px #555;
}

input[type="submit"]:hover {
  background-color: #ffd740; /* Kuning yang lebih terang */
}

a {
  display: block;
  margin-top: 20px;
  color: #f5f5dc;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease; /* Tambahkan transisi untuk background */
  text-shadow: 1px 1px #555;
  border: 2px solid #d2b48c;
  padding: 8px 15px;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.3); /* Latar belakang hitam transparan */
}

a:hover {
  color: #fffacd;
  border-color: #fffacd;
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang lebih gelap saat dihover */
}